/* extends */

%card {
    border: solid 2px #00000a;
    background-color: white;
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
    text-align: center;
}

.card{
    @extend %card
}